.logo
  img.logo__icon(src="img/logo.svg")
  |  
  span(class="logo__text") UpQode
ul.menu
  each item in menu
    li.footermenu__item
      a.footermenu__link(href=item.link) #{item.text}
.copy &copy; UpQode 2019.  All Right Reserved.