.brand
  img.brand__logo(src="img/logo.svg")
  |  
  span.brand__name UpQode
ul.menu
  each item in menu
    li.footermenu__item
      a.footermenu__link(href=item.link) #{item.text}
.copy &copy; UpQode 2019.  All Right Reserved.