each service in services
  .service
    h2.service__name #{service.name}
    p.service__description #{service.description}
    ul.service__features
      each feature in service.features
        li.service__feature #{feature}
    a.button.button--more(href="") learn more