svg(width='664' height='1216' viewBox='0 0 664 1216' fill='none' xmlns='http://www.w3.org/2000/svg')
  path.path(d='M22.9998 1C22.9998 1 649.558 119 663 589.542C655.833 1135 1 1215 1 1215' stroke='#29A0EC')
  g#spot
    circle#circle-1(r='6'   cx='0' cy='0' fill='#29A0EC')
    circle#circle-2(r='12'  cx='0' cy='0' fill='#29A0EC' opacity='0.3')
    circle#circle-3(r='17'  cx='0' cy='0' stroke='#00A031' opacity='0.16')
    circle#circle-4(r='22'  cx='0' cy='0' stroke='#00A031' opacity='0.13')
    circle#circle-5(r='27'  cx='0' cy='0' stroke='#00A031' opacity='0.12')
    circle#circle-6(r='33'  cx='0' cy='0' stroke='#00A031' opacity='0.11')
    circle#circle-7(r='39'  cx='0' cy='0' stroke='#00A031' opacity='0.10')
    circle#circle-8(r='47'  cx='0' cy='0' stroke='#00A031' opacity='0.08')
    circle#circle-9(r='55'  cx='0' cy='0' stroke='#00A031' opacity='0.06')
    circle#circle-10(r='63' cx='0' cy='0' stroke='#00A031' opacity='0.04')
    circle#circle-11(r='72' cx='0' cy='0' stroke='#00A031' opacity='0.03')
    circle#circle-12(r='82' cx='0' cy='0' stroke='#00A031' opacity='0.02')