h2 Julia Harrington
.employee__position Art Director
.employee_description
  | Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to
  | invent a light bulb. We just go to the store or our cupboard and pull one out and screw it in. When we are
  | feeling so low and deep in the pits, this is when we need light to see our way through.
ul.employee__social
  li.employee__social-link Facebook
  li.employee__social-link LinkedIn
  li.employee__social-link Twitter
h2 Kyle Walker
.employee__position Designer
.employee_description
  | Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no longer need to
  | invent a light bulb. We just go to the store or our cupboard and pull one out and screw it in. When we are
  | feeling so low and deep in the pits, this is when we need light to see our way through.
ul.employee__social
  li.employee__social-link Facebook
  li.employee__social-link LinkedIn
  li.employee__social-link Twitter