- 
  let menu = [
    {link:"#home",text: "Home"},
    {link:"#services",text: "Services"},
    {link:"#team",text: "Team"},
    {link:"#contact-us",text: "Contact Us"}
  ]
- let videoParams='&enablejsapi=1&controls=0&showinfo=0&rel=0&loop=1&mute=1'
- 
  let slides = [
    {
      header:"Mileage made simple",
      text: "Motivation And Your Personal Vision An Unbeatable Force",
      linkText: "Start free trial",
      linkUrl: "#",
      videoUrl: "https://www.youtube.com/embed/7TKfYo3syT4?playlist=7TKfYo3syT4"
    },
    {
      header:"Lorem, ipsum dolor",
      text: "Lorem ipsum dolor sit amet consectetur adipisicing.",
      linkText: "Start free trial",
      linkUrl: "#",
      videoUrl: "https://www.youtube.com/embed/W86cTIoMv2U?playlist=W86cTIoMv2U"
    },
    {
      header:"Lorem ipsum dolor sit.",
      text: "Lorem ipsum dolor sit amet consectetur.",
      linkText: "Start free trial",
      linkUrl: "#",
      videoUrl: "https://www.youtube.com/embed/hGIW2fDb0jg?playlist=hGIW2fDb0jg"
    }
  ]
- 
  let services = [
    {
      name: "Track every trip you make",
      description: "Every one of your trips is captured immediately and is never forgotten.",
      features: ["No signal dropout","No missed trips"]
    },
    {
      name: "Classify with a single swipe",
      description: "Swipe right for business. Swipe left for personal. It’s as easy as that.",
      features: ["Review trips on the go","Classify journeys in seconds"]
    },
    {
      name: "Claim your money back with ease",
      description: "Claiming mileage has never been so easy, with all calculations done for you.",
      features: ["100% HMRC compliance","All logs in one place"]
    }
  ]
- 
  let employees = [
    {
      name: "Julia Harrington",
      position: "Art director",
      photoUrl: "img/julia-harrington.jpg",
      description: `Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no
        longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it
        in. When we are feeling so low and deep in the pits, this is when we need light to see our way through`,
      social: [
        {name:"Facebook",url:"#"},
        {name:"LinkedIn",url:"#"},
        {name:"Twitter",url:"#"},        
      ]
    },
    {
      name: "Kyle Walker",
      position: "Designer",
      photoUrl: "img/kyle-walker.jpg",
      description: `Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no
        longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it
        in. When we are feeling so low and deep in the pits, this is when we need light to see our way through`,
      social: [
        {name:"Facebook",url:"#"},
        {name:"LinkedIn",url:"#"},
        {name:"Twitter",url:"#"},        
      ]
    },
    {
      name: "Harry Kane",
      position: "Office manager",
      photoUrl: "img/harry-kane.jpg",
      description: `Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no
        longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it
        in. When we are feeling so low and deep in the pits, this is when we need light to see our way through`,
      social: [
        {name:"Facebook",url:"#"},
        {name:"LinkedIn",url:"#"},
        {name:"Twitter",url:"#"},        
      ]
    },
    {
      name: "Markus Rashford",
      position: "Art director",
      photoUrl: "img/markus-rashford.jpg",
      description: `Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no
        longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it in.`,
      social: [
        {name:"Facebook",url:"#"},
        {name:"LinkedIn",url:"#"},
        {name:"Twitter",url:"#"},        
      ]
    },
    {
      name: "Fernando Torres",
      position: "Art director",
      photoUrl: "img/fernando-torres.jpg",
      description: `Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no
        longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it
        in. When we are feeling so low and deep in the pits, this is when we need light to see our way through`,
      social: [
        {name:"Facebook",url:"#"},
        {name:"LinkedIn",url:"#"},
        {name:"Twitter",url:"#"},        
      ]
    },
    {
      name: "Emma Cahill",
      position: "Art director",
      photoUrl: "img/emma-cahill.jpg",
      description: `Have you ever had a problem with a burned light? Thanks to the effort of Thomas Edison we no
        longer need to invent a light bulb. We just go to the store or our cupboard and pull one out and screw it
        in. When we are feeling so low and deep in the pits, this is when we need light to see our way through`,
      social: [
        {name:"Facebook",url:"#"},
        {name:"LinkedIn",url:"#"},
        {name:"Twitter",url:"#"},        
      ]
    }
  ]
- 
  let offices = [
    {
      city:"Los Angeles, USA",
      address: "2005 Stokes Isle Apt. 896, Venaville, New York 10010",
      schedule: [{days:"Mon - Sat",time:"11:00-19:00"},{days:"Sun",time:"11:00-16:00"}],
      tel: ["(0043) 568 456 902","(0043) 568 456 902"],
      email: ["hello@pad.architecture","support@pad.architecture"]
    },
    {
      city:"New York, USA",
      address: "2005 Stokes Isle Apt. 896, Venaville, New York 10010",
      schedule: [{days:"Mon - Sat",time:"11:00-19:00"},{days:"Sun",time:"11:00-16:00"}],
      tel: ["(0043) 568 456 902","(0043) 568 456 902"],
      email: ["hello@pad.architecture","support@pad.architecture"]
    },
    {
      city:"Boston, USA",
      address: "2005 Stokes Isle Apt. 896, Venaville, New York 10010",
      schedule: [{days:"Mon - Sat",time:"11:00-19:00"},{days:"Sun",time:"11:00-16:00"}],
      tel: ["(0043) 568 456 902","(0043) 568 456 902"],
      email: ["hello@pad.architecture","support@pad.architecture"]
    },
    {
      city:"Detroit, USA",
      address: "2005 Stokes Isle Apt. 896, Venaville, New York 10010",
      schedule: [{days:"Mon - Sat",time:"11:00-19:00"},{days:"Sun",time:"11:00-16:00"}],
      tel: ["(0043) 568 456 902","(0043) 568 456 902"],
      email: ["hello@pad.architecture","support@pad.architecture"]
    }
  ]
